extends layout

block content

  h1 Udfyld pakkeinformation

  form.parcel-form(action="/submit-parcel-info", method="post")
    // Afsenders information
    .section
      div.container
        h2 Afsenders information

        div.input-group
          label(for="senderName") Navn:
          input#senderName(type="text", id="senderName", name="senderName", required)

        div.input-group
          label(for="senderEmail") E-mail:
          input#senderEmail(type="email", id="senderEmail", name="senderEmail", required)

        div.input-group
          label(for="phone") Telefonnummer:
          input#senderPhone(type="phone", id="senderPhone", name="senderPhone", required)

        div.input-group
          label(for="senderAddress") Adresse:
          input#senderAdress(type="address", id="senderAddress", name="senderAddress", required)

        div.input-group
          label(for="senderZipcode") Postnummer:
          input#senderZipcode(type="zipcode", id="senderZipcode", name="senderZipcode", required)

         div.input-group
          label(for="senderCity") By:
          input#senderCity(type="city", id="senderCity", name="senderCity", required)

    // Modtagers information
    .section
      div.container
        h2 Modtagers information

        div.input-group
          label(for="receiverName") Navn:
          input#receiverName(type="text", id="receiverName", name="receiverName", required)

        div.input-group
          label(for="receiverEmail") E-mail:
          input#receiverEmail(type="email", id="receiverEmail", name="receiverEmail", required)

        div.input-group
          label(for="receiverPhone") Telefonnummer:
          input#receiverPhone(type="tel", id="receiverPhone", name="receiverPhone", required)

        div.input-group
          label(for="receiverAddress") Adresse:
          input#receiverAddress(type="address", id="receiverAddress", name="receiverAddress", required)

        div.input-group
          label(for="receiverZipcode") Postnummer:
          input#receiverZipcode(type="zipcode", id="receiverZipcode", name="receiverZipcode", required)

         div.input-group
          label(for="receiverCity") By:
          input#receiverCity(type="city", id="receiverCity", name="receiverCity", required)


    // Pakkeinformation
    .section
      div.container
        h2 Pakkeinformation

        div.input-group
          label(for="weight") Vægt (kg):
          input#parcelWeight(type="number", id="weight", name="weight", min="0", step="0.01", required)

        div.input-group
          label(for="dimensions") Mål (L x B x H i cm):
          input#parcelDimensions(type="text", id="dimensions", name="dimensions", required)

        div.input-group
          label(for="contents") Indhold:
          input#parcelContents(id="contents", name="contents", required)

        div.input-group
          label(for="value") Værdi (kr):
          input#parcelValue(type="number", id="value", name="value", min="0", step="0.01", required)

    div.button-group
      button.submit-button(type="submit") Indsend

      a.button(href="/") Tilbage
