extends layout

block content

  h1 Udfyld pakkeinformation

  form.parcel-form(action="/submit-parcel-info", method="post")
    // Afsenders information
    .section
      div.container
        h2 Afsenders information

        div.input-group
          label(for="senderName") Navn:
          input#senderName(type="text", id="senderName", name="senderName", required)

        div.input-group
          label(for="senderEmail") E-mail:
          input#senderEmail(type="email", id="senderEmail", name="senderEmail", required)

        div.input-group
          label(for="senderPhone") Telefonnummer:
          input#senderPhone(type="tel", id="senderPhone", name="senderPhone", required)

        div.input-group
          label(for="senderAddress") Adresse:
          input#senderAdress(id="senderAddress", name="senderAddress", required)

    // Modtagers information
    .section
      div.container
        h2 Modtagers information

        div.input-group
          label(for="receiverName") Navn:
          input#receiverName(type="text", id="receiverName", name="receiverName", required)

        div.input-group
          label(for="receiverEmail") E-mail:
          input#receiverEmail(type="email", id="receiverEmail", name="receiverEmail", required)

        div.input-group
          label(for="receiverPhone") Telefonnummer:
          input#receiverPhone(type="tel", id="receiverPhone", name="receiverPhone", required)

        div.input-group
          label(for="receiverAddress") Adresse:
          input#receiverAddress(id="receiverAddress", name="receiverAddress", required)

    // Pakkeinformation
    .section
      div.container
        h2 Pakkeinformation

        div.input-group
          label(for="parcelWeight") Vægt (kg):
          input#parcelWeight(type="number", id="parcelWeight", name="parcelWeight", min="0", step="0.01", required)

        div.input-group
          label(for="parcelDimensions") Mål (L x B x H i cm):
          input#parcelDimensions(type="text", id="parcelDimensions", name="parcelDimensions", required)

        div.input-group
          label(for="parcelContents") Indhold:
          input#parcelContents(id="parcelContents", name="parcelContents", required)

        div.input-group
          label(for="parcelValue") Værdi (kr):
          input#parcelValue(type="number", id="parcelValue", name="parcelValue", min="0", step="0.01", required)

    button.submit-button(type="submit") Indsend

    a.button(href="/") Tilbage
