extends layout

block content
  h1 Velkommen til #{title}

  img#logo(src="./images/sendnemt.png")
  
  div.centered-links
    a.formular.button(href="/formular") Send pakke
    a.sporPakke.button(href="/sporPakke") Spor Din pakke
    a.pakkeOversigt.button(href="/pakkeOversigt") Pakkeoversigt