extends layout

block content
  h1= title
  p Welcome to #{title}
  img#logo(src="./images/sendnemt.png")
  
  a.formular.button(href="/formular") Send pakke

  a.sporPakke.button(href="/sporPakke") Spor Din pakke

  a.pakkeOversigt.button(href="/pakkeOversigt") Pakkeoversigt