extends layout

block content
  
  form.admin.form(action="/admin/login", method="post")
    .section
      div.container
        h1 Admin Login

        div.input-group
          label(for="username") Username:
          input(type="text", id="username", name="username", required)

        div.input-group
          label(for="password") Password:
          input(type="password", id="password", name="password", required)

    div.button-group
      button.login-button(type="submit") Login

      a.button(href="/") Tilbage