extends layout

block content
  
  .container
    h1 Pakkeoversigt
    table
      tr
        th Pakke ID
        th Afsender
        th Modtager
        th Vægt (kg)
        th Mål (L x B x H i cm)
        th Indhold
        th Værdi (kr)

    a.button(href="/") Tilbage