extends layout

block content
  
  form.sporPakke-form(action="/tracePackage", method="post")
    // Spor pakke
    .section
      div.container
        h2 Her kan du spore din pakke

        div.input-group
          label(for="hash") Indtast pakke ID:
          input#hash(type="text", name="hash")

    div.button-group
      button.spor-button(type="submit") Spor pakke

      a.button(href="/") Tilbage